html{
	width:320px;
	height:480px;
	font-family:arial, sans serif;
	font-size:13px;
	position:absolute;
	left:50%;
 	top:50%;
 	margin-left:-160px;
  	margin-top:-240px
	
}
body{
	margin:0px;
	
}

header{
	text-align:center;
	height:48px;
	width:318px;
	border:solid 1px orange;
	vertical-align:middle;
	line-height:48px;
}


section{
	width:318px;
	height:369px;
	font-size:16px;
	background-color:white;
	border-left: solid 1px orange;
	border-right: solid 1px orange;
	border-bottom: solid 1px orange;
	position: relative;
}
div{display:inline-block;
position:relative;
width:310px;
height:20px;
text-align:center;
}


#primero{
	margin-top:60px;
}

.button{
	width:160px;
	height:25px;
/*	background-color:rgba(90,164,203,0.4);*/
	background-color:rgb(91, 20, 73);
	text-align:center;
	margin:8px;
	line-height:25px;
	vertical-align:middle;
	margin-left:80px;
	display: inline-block;
	border-radius:25px;
	
}

.ulIndex {
	position:relative;
	top:60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
	
}


.liIndex a {
    display: block;
    color: #FFF;
    text-decoration: none;
	border-radius:25px;
}
.liIndex a.active {
    background-color: #555;
    color: white;
}

.liIndex a:hover {
    background-color: #555;
    color: yellow;
}


