html{
	width:320px;
	height:480px;
/*	background-color:yellow;*/
	font-family:arial, sans serif;
	font-size:13px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-160px;
  	margin-top:-240px
}

header{
	text-align:center;
	height:48px;
	width:318px;
	border:solid 1px orange;
	vertical-align:middle;
	line-height:48px;
	
}

body{
	margin:0px;
	
}


section{
	width:318px;
	height:369px;
	background-color:white;
	border-left: solid 1px orange;
	border-right: solid 1px orange;
	border-bottom: solid 1px orange;
}

/*
.menuOption{
	position:relative;
	display:inline-block;
	padding:2px;
	background-color:rgba(0,75,0,0.5);
	border:1px solid red;
	width:19%;
	text-align:center;
	
}*/