html{
	width:320px;
	height:480px;
	font-family:arial, sans serif;
	font-size:13px;
	position:absolute;
	left:50%;
 	top:50%;
 	margin-left:-160px;
  	margin-top:-240px
	
}
body{
	margin:0px;
	
}

header{
	text-align:center;
	height:48px;
	width:318px;
	border:solid 1px orange;
	vertical-align:middle;
	line-height:48px;
}


section{
	width:318px;
	height:369px;

	background-color:white;
	border-left: solid 1px orange;
	border-right: solid 1px orange;
	border-bottom: solid 1px orange;
}


.button{
	width:160px;
	height:25px;
/*	background-color:rgba(90,164,203,0.4);*/
	background-color:rgb(91, 20, 73);
	text-align:center;
	margin:8px;
	line-height:25px;
	vertical-align:middle;
	margin-left:80px;
	display: inline-block;
	border-radius:25px;
	
}

.buttonCstm{
	width:160px;
	height:25px;
/*	background-color:rgba(90,164,203,0.4);*/
	background-color:pink;
	text-align:center;
	margin:0px;
	line-height:25px;
	vertical-align:middle;
	margin-left:80px;
	display: inline-block;
	border-radius:25px;
	
}



.button span a:hover{
	vertical-align:middle;
	font-size:20;
	color:white;
	
}
.ulIndex {
	position:relative;
	top:60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
	
}


.liIndex a {
    display: block;
    color: #FFF;
    text-decoration: none;
	border-radius:25px;
}
.liIndex a.active {
    background-color: #555;
    color: white;
}

.liIndex a:hover {
    background-color: #555;
    color: yellow;
}
#primero{
	text-align:center;
}
#anim_div {
	position:relative;
	width:40px;
	height:40px;
	left:140px;
	background-color:orange;
	color:white;
	font-size:35px;
	text-align:center;
	animation: anim_div 5s 1;
	display:inline-block;
	border-radius:8px
}

@keyframes anim_div{
0% {
    transform: scale(0.1,0.1);
    left: 140px;
}
25% {
    transform: scale(0.3,0.3);
    left: 165px;
}
50% {
    transform: scale(0.5,0.5);
    left: 175px;
}
}
70% {
    transform: scale(0.7,0.7);
   left: 165px
    background: #1ec7e6;
}

100% {
    transform: scale(1,1);
    left: 1400px;
}
}